name: Build WPF app

on:
  push:
    branches: 
    - master
    - development
  pull_request:
    branches: 
    - master
    - development

jobs:

  build:

    strategy:
      matrix:
        configuration: [Debug, Release]

    runs-on: windows-latest  # For a list of available runner types, refer to 
                             # https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idruns-on

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    # Install the .NET Core workload
    - name: Install .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.101
    - name: Install dependencies
      run: dotnet restore DataConverter.WPF
    - name: Build
      run: dotnet build DataConverter.WPF --configuration Release --no-restore
    - name: Test
      run: dotnet test DataConverter.WPF --no-restore --verbosity normal
